<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>E-LearningSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>homeView.htm</welcome-file>
    <welcome-file>homeView.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>register.html</welcome-file>
    <welcome-file>Student_Grades.jsp</welcome-file>
  </welcome-file-list>

<servlet>
    <servlet-name>register</servlet-name>
    <jsp-file>/register.html</jsp-file>
</servlet>
<servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
</servlet-mapping>
</web-app>